* {
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(253,210,255);
background: linear-gradient(129deg, rgba(253,210,255,1) 0%, rgba(235,235,235,1) 77%);
  }
  .cointainer {
      background-color: white;
    max-width: 60%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 5% 6%;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.342);
    user-select: none;
  }
  p{
      text-align: justify;
  }
  span{
      font-weight: 550;
      display: block;
      margin-top: 10px;
  }
  @media only screen and (max-width:1300px) {
      .cointainer{
          max-width: 70%;
      }
  }
  @media only screen and (max-width:1100px) {
      .cointainer{
          max-width: 80%;
      }          
  }
  @media only screen and (max-width:800px) {
      .cointainer{
          max-width: 85%;
      }          
  }
  @media only screen and (max-width:700px) {
      
      .cointainer{
          max-width: 90%;
      }          
  }