*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  user-select: none;
  background-color: rgb(255, 255, 255);
  color: rgb(54, 54, 54);
}
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 2px;
}

.box{
  height: 40px;
  width: 40px;
  border-radius: 3px;
  background: green;
  /* border: 1px solid white; */
  color: white;
  display: grid;
  place-items: center;
  transition: all 200ms ease;
  user-select: none;
}

.box:hover{
  background-color:darkgreen;
  font-size: smaller;
}

.box.clicked{
  background-color: red;
  border-color: transparent;
}
.box.clicked:hover{
  font-size: larger;
}
h1{
  text-align: center;
}
p{
  font-size: larger;

}

.nonClickable{
  pointer-events: none;
  background-color:white;
  opacity: 0.2;
}
.exitdoor{
  pointer-events: none;
  background-color: darkred;
  opacity: 1;
  border-radius: 50%;
}

/* #output{
  background-color: blue;
  width: fit-content;
  position: absolute;
  left: 50%;
  padding: 5px 6px;
  color: white;
  transform: translate(-50%, 0);
  border-radius: 50%;
} */